```html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FileForge{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- Navbar -->

    <nav>

        <div class="logo">
            <a href="/">FileForge</a>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li>Tools</li>
            <li>About</li>
        </ul>

    </nav>


    {% block content %}
    {% endblock %}


    <footer>

        <p>
            © 2026 FileForge • Built by Shivansh-Builds
        </p>

    </footer>

</body>
</html>
```
