<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merge PDF | FileForge</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>

    <div class="logo">
        <a href="/">FileForge</a>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li>Tools</li>
        <li>About</li>
    </ul>

</nav>


<section class="converter">

    <h1>
        Merge PDF
    </h1>

    <p>
        Combine multiple PDF files into a single document.
    </p>

    <div class="upload-box">

        <form method="POST"
              enctype="multipart/form-data">

            <div class="upload-icon">
                📚
            </div>

            <h2>
                Choose PDF Files
            </h2>

            <p>
                Select multiple PDF files.
            </p>

            <input
                type="file"
                name="pdf_files"
                accept=".pdf"
                multiple
                required>

            <button type="submit">
                Merge PDFs
            </button>

        </form>

    </div>

</section>

</body>
</html>