```html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to Word | FileForge</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- Navbar -->

    <nav>

        <div class="logo">
            FileForge
        </div>

        <ul>

            <li>
                <a href="/">Home</a>
            </li>

            <li>Tools</li>

            <li>About</li>

        </ul>

    </nav>


    <!-- Converter Section -->

    <section class="converter">

        <h1>
            PDF to Word Converter
        </h1>

        <p>
            Upload your PDF and convert it into an editable Word document.
        </p>


     html
<div class="upload-box">

    <form method="POST"
          enctype="multipart/form-data">

        <div class="upload-icon">
            📄
        </div>

        <h2>
            Choose PDF File
        </h2>

        <p>
            Select a PDF and convert it into an editable Word document.
        </p>

        <input
            type="file"
            name="pdf_file"
            accept=".pdf"
            required>

        <button type="submit">
            Convert to Word
        </button>

    </form>

</div>
</section>

</body>
</html>
```
